<h1 class="alarms-text">All alarms</h1>
<button class="add-button" (click)="showModal('alarm-form')"><i class="fa-solid fa-plus"></i> Add new</button>

<div class="alarms-list">
    <div class="alarm" *ngFor="let alarm of getAlarms()">
        <div class="alarm-time">
            <img src="../../assets/alarm-clock.png" alt="Alarm clock">
            <p>{{ alarm.hour | leadingZero }}:{{ alarm.minutes | leadingZero }}</p>
        </div>
        <div class="alarm-details">
            <p>{{ alarm.title }}</p>
            <p>weather @ {{ alarm.latitude | number : '1.2-2' }}, {{ alarm.longitude | number : '1.2-2' }}</p>
        </div>
        <div class="alarm-buttons">
            <button (click)="showModal('alarm-form', alarm.id, alarm.title, alarm.hour, alarm.minutes)">Edit</button>
            <button (click)="showModal('delete-text', alarm.id)">Delete</button>
        </div>
    </div>

    <p *ngIf="getAlarms().length == 0">
        You don't have any alarms yet.<br/>
        Try creating one.
    </p>
</div>

<div id="modal">
    <div id="modal-content">
        <form id="alarm-form">
            <label for="title">Title</label>
            <input type="text" id="title">

            <label for="time">Time</label>
            <input type="time" id="time">
        </form>

        <p id="delete-text">Are you sure you want to delete this alarm?</p>
        
        <div id="modal-buttons">
            <button class="main-button" (click)="confirm()">OK</button>
            <button class="main-button" (click)="closeModal()">Cancel</button>
        </div>
    </div>
</div>